*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*nav*/   /*---------------------------------*/

.nav-link{
    border: 2px green;
}
.navbar .right{
    margin-right: 1em;
}

.navbar-nav li{
    box-shadow: -5px 2px 4px blue;
    border-radius: 10px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.active {
    background-color: aquamarine;
    border-radius: 10px;
}
.logo{
    width: 10em;
    margin-left: 1em;
}



/*nav*//*--------------------------------*/

/*"carrousel"*//*---------------------------*/
#carousel{
    background-color: aquamarine;
}
h1{
text-align: center;
}
#caright{
    display: flex;
    justify-content: right;
}
#carleft{
display: flex;
}

/*"carrousel"*//*---------------------------*/


/*checkbox*//*---------search-------------------*/
.container-fluid{
padding-left: 20px; 
}
.d-flex{
background-color: aqua
}
/*checkbox*//*----------seacrh------------------*/


/*cards*//*------------------------------*/
.container-past{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    gap: 1em ;
}
.container-upcoming{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    gap: 1em;
}
.container-home{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    gap: 1em;
}
.card{
    display: flex;
   justify-content: space-between;
    }
    .card-img-top{
    
    box-shadow: 10px 10px 5px lightblue inset;
    
    }
    
    .card-title{
    display: flex;
    position: relative;
   justify-content: center;
    }
    .card-text{
    display: flex;
    position: relative;
justify-content: center;
    }
    
     .col-5{
        display: flex;
        justify-content: left;
        position: absolute;
        justify-content:flex-start;
       bottom: 0.1em;
            
       
    }
    .col-7{ 
        display: flex;
        position: relative;
        bottom: 0.5em; 
        left: 4.8em;
        justify-content: right;
         
     
       }
     .col-7>a{
        box-shadow: 5px 2px lightblue inset;
    }
    
    h3{
        text-align: center;
    }

/*cards*//*------------------------------*/

/*footer*//*-----------------------------*/
footer{
   background-color: aqua;
    height: 10vh;
    min-width: 100%;
    position: absolute;
    bottom: 0%;
}
.footright>h3{
text-align: right;
}
.footleft{
padding-left: 10px;
}
.footleft>a{
margin: 0.7em;
}
/*footer*//*-----------------------------*/


/*contact*//*---------------------------*/
.col-auto{
    text-align: right;
}
/*generales*//*-----------------------*/
body{
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    
}
.mainstats{
min-height: 100vh;
width: 80%;
height: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;


}
main{
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5em;
}
/* section{
  
} */
/*generales*//*-----------------------*/
/* details*//*-----------------------*/
.cardetails1{
display: block;
justify-content: center ;
align-items: center;
gap: 500px;

}

#textdetail{
    display: flex;
    justify-content: center;
}

.card>h1{
    text-align: center;
    color: rgb(243, 56, 130);
}
#cajadetail{
   display: flex;
justify-content: center;
   background-color: rgba(0, 0, 0, 0.168);
}
#imgdetail{
display: flex;
justify-content: center;


}
.card>h4{
    text-align: center;
}
#cardetails{
    margin: 50px;
    display: flex;
    justify-content: center;
 

}
#logo_details{
box-shadow: -22px -10px 0px 0px rgba(220, 8, 68, 0.633);
display: flex;
justify-content: center;
height: 100%;
margin: 10px;
}
/* details*//*-----------------------*/